<button class="detail-button" (click)="back()">
  <fa-icon [icon]="faArrowLeft"></fa-icon> Back
</button>

<div *ngIf="!country" class="detail-not-found">Country not found, sorry.
  <fa-icon [icon]="faFrown"></fa-icon>
</div>

<div *ngIf="country" class="detail-container">
  <div class="detail-image-container">
    <img [src]="country.flag" alt="{{country.name}} flag" class="detail-image">
  </div>

  <div class="detail-content">
    <div aria-label="Country Name" class="detail-title">
      <strong>{{country.name}}</strong>
    </div>
    <div class="detail-info">
      <div class="detail-info-content">
        <p><strong>Native Name:</strong> {{country.nativeName}}</p>
        <p><strong>Population:</strong> {{country.population | number}}</p>
        <p><strong>Region:</strong> {{country.region}}</p>
        <p><strong>Sub Region:</strong> {{country.subregion}}</p>
        <p><strong>Capital:</strong> {{country.capital}}</p>
      </div>

      <div class="detail-info-content">
        <p><strong>Top Level Domain:</strong> {{country.topLevelDomain}}</p>
        <p><strong>Currencies:</strong> {{country.currencies.join(', ')}}</p>
        <p><strong>Languages:</strong> {{country.languages.join(', ')}}</p>
      </div>
    </div>
    <div *ngIf="country.borders.length" class="border-countries">
      <p class="border-countries-text"><strong>Border Countries:</strong></p>
      <div *ngFor="let border of country.borders" class="detail-border">
        <button class="detail-button border-button" (click)="showDetail(border)">{{border.name}}</button>
      </div>
    </div>
  </div>